<h1>Asked-Homepage</h1>
<a href="/question/sign_up">회원가입</a>
<a href="/question/login">로그인</a></a>
<a href="/question/logout">로그아웃</a></a><br>
<a href="/question/new">질문하러 가기</a>
<% @questions.each do |question| %>
    <p><%=question.writter%>님의 질문입니다.</p>
    <p><%=question.content%></p>
    <hr>
<% end %>