<h1>질문을 남겨주세요</h1>
<form action="/question/create">
    <input type="text" name="content" style="height:100px"><br>
    <select name="writter">
      <option value="private">익명</option>
      <option value="public">공개</option>
    </select>
    <input type="submit" value="질문하기">
</form>