<h1>질문을 남겨주세요</h1>
<form action="/question/create/<%session[:email]%>">
    <input type="text" name="content" style="height:100px"><br>
    <select name="writter">
      <option name="private" value="익명" >익명</option>
      <option name="public" value= "<%=@current_user.email %>" >공개</option>
    </select>
    <input type="submit" value="질문하기">
</form>
