<h1>회원가입</h1>
<form action="/question/sign_up_process">
    email: <input type="email" name="email">
    name: <input type="text" name="name">
    password: <input type="password" name="password"><br>
    <input type="submit" value="회원가입">
    
</form>